$main_color: rgb(45, 43, 54);

body, html {
    margin: 0;
    background-color: $main_color;
    cursor: none;
    overflow-x: hidden;
    font-family: 'Jurassic Park';
}

.overlay-left,  .overlay-right,  .overlay-top,  .overlay-bottom   {
    background: $main_color !important;
    background-image: url('../assets/global/logo.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

@font-face {
    font-family: "Jurassic Park";
    src: url("./police/Jurassic_Park.ttf");
}

@font-face {
    font-family: "Acme";
    src: url("./police/Acme-Regular.ttf");
}

@font-face {
    font-family: "Poppins Light";
    src: url("./police/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url("./police/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "RobotoCondensed Light";
    src: url("./police/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: "RobotoCondensed Regular";
    src: url("./police/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "ExplosionBook";
    src: url("./police/ExplosionBook.ttf");
}

@font-face {
    font-family: "KG Compassion";
    src: url("./police/KGCompassion.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("./police/PlayfairDisplay.ttf");
}

@font-face {
    font-family: "NanumGothic";
    src: url("./police/NanumGothic-Regular.ttf");
}